&nbsp<a href="http://www.oracle.com/" target="_blank"><img src="{{ site.baseurl }}/images/partners/oracle.png" height="80" alt="" class="imgspace"/></a><br><br><br>
&nbsp<a href="http://www.bnpparibas.ch/en/" target="_blank"><img src="{{ site.baseurl }}/images/partners/bnp_nobgd.png" height="70" alt="" class="imgspace"/></a><br><br><br>
&nbsp<a href="http://www.agefi.com/" target="_blank"><img src="{{ site.baseurl }}/images/partners/agefi_og_image.png" height="50" alt="" class="imgspace"/></a><br><br><br>
&nbsp<a href="https://www.hpe.com/ch/fr/home.html" target="_blank"><img src="{{ site.baseurl }}/images/partners/hpe.jpg" height="90" alt="" class="imgspace" /></a><br><br><br>
&nbsp<a href="http://www.ge.ch/" target="_blank"><img src="{{ site.baseurl }}/images/partners/canton_ge.jpg" height="100" alt="" class="imgspace" /></a>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="http://www.ville-geneve.ch/" target="_blank"><img src="{{ site.baseurl }}/images/partners/soutienVdg_couleur.jpg" height="80" alt="" class="imgspace" /></a><br><br>
&nbsp<a href="https://www.esri.ch/fr" target="_blank"><img src="{{ site.baseurl }}/images/partners/Esri_Suisse_Science_of_where_ fond transparent.png" alt="" height="90" class="imgspace" /></a>
&nbsp<a href="https://sig-ge.ch" target="_blank"><img src="{{ site.baseurl }}/images/partners/sig.jpg" height="70" alt="" class="imgspace" /></a>
&nbsp<a href="https://www.gva.ch/en/desktopdefault.aspx" target="_blank"><img src="{{ site.baseurl }}/images/partners/logo_GENEVE-Aero_RVB.jpg" height="70" alt="" class="imgspace" /></a><br><br>
&nbsp<a href="http://www.tpg.ch" target="_blank"><img src="{{ site.baseurl }}/images/partners/tpg.jpg" height="60" alt="" class="imgspace" /></a>
&nbsp<a href="https://www.gemonline.ch/" target="_blank"><img src="{{ site.baseurl }}/images/partners/gem_logo.jpg" height="70" alt="" class="imgspace" /></a>
&nbsp<a href="https://www.ccig.ch" target="_blank"><img src="{{ site.baseurl }}/images/partners/ccig.png" height="90" alt="" class="imgspace" /></a><br><br>
&nbsp<a href="https://www.fer-ge.ch/web/fer-ge" target="_blank"><img src="https://www.fer-ge.ch/image/layout_set_logo?img_id=70005&t=1519686175428" height="70" alt="" class="imgspace" /></a>
&nbsp<a href="http://unige.ch/numerique/en/" target="_blank"><img src="{{ site.baseurl }}/images/partners/stratnumerique.png" height="90" alt="" class="imgspace" /></a>
&nbsp&nbsp<a href="http://www.innobridge.com/2-0-overview.html" target="_blank"><img src="{{ site.baseurl }}/images/partners/innobridge_logo.png" height="60" alt="" class="imgspace" /></a><br><br>
&nbsp&nbsp<a href="https://sono.money/" target="_blank"><img src="{{ site.baseurl }}/images/partners/sonocoin.png" height="60" alt="" class="imgspace" /></a>
&nbsp&nbsp<a href="https://ark.io/" target="_blank"><img src="{{ site.baseurl }}/images/partners/ark.png" height="60" alt="" class="imgspace" /></a>








<!--
&nbsp<a href="http://citizencyberlab.org/" target="_blank"><img src="{{ site.baseurl }}/images/partners/ccl.png" alt="" width="169" class="imgspace" /></a>
&nbsp<a href="http://www.creativitycenter.ch/" target="_blank"><img src="{{ site.baseurl }}/images/partners/gcc.png" height="50" alt="" class="imgspace" /></a>
&nbsp<a href="http://www.campusbiotech.ch/en/" target="_blank"><img src="{{ site.baseurl }}/images/partners/cb.png" alt="" height="70" class="imgspace" /></a>
&nbsp<a href="http://www.hug-ge.ch/en" target="_blank"><img src="{{ site.baseurl }}/images/partners/hug.gif" height="60" class="imgspace" /></a>
&nbsp<a href="http://www.smartcityday.ch/smart-city-hack.html" target="_blank"><img src="{{ site.baseurl }}/images/partners/schk.png" height="60" alt="" class="imgspace" /></a>
&nbsp<a href="https://geneva.impacthub.net/" target="_blank"><img src="{{ site.baseurl }}/images/partners/IHG.png" height="60" alt="" class="imgspace" /></a>
&nbsp<a href="http://www.globalhumanitarianlab.org/" target="_blank"><img src="{{ site.baseurl }}/images/partners/ghl.png" height="50" alt="" class="imgspace" /></a>
&nbsp<a href="https://www.geneus.ch" target="_blank"><img src="{{ site.baseurl }}/images/partners/geneus.png" height="40" alt="" class="imgspace" /></a>
&nbsp<a href="https://https://epfl-innovationpark.ch/" target="_blank"><img src="{{ site.baseurl }}/images/partners/epflpark.png" height="40" alt="" class="imgspace" /></a>
&nbsp<a href="http://bodmerlab.unige.ch/" target="_blank"><img src="{{ site.baseurl }}/images/partners/bodmer.png" height="60" alt="" class="imgspace" /></a>
&nbsp<a href="http://www.unog.ch/library" target="_blank"><img src="{{ site.baseurl }}/images/partners/LIBRARY_V_EN.png" height="60" alt="" class="imgspace" /></a>
&nbsp<a href="http://www.sib.swiss" target="_blank"><img src="{{ site.baseurl }}/images/partners/sib.png" height="60" alt="" class="imgspace" /></a>
&nbsp<a href="http://cui.unige.ch" target="_blank"><img src="{{ site.baseurl }}/images/partners/cui_pant.png" height="60" alt="" class="imgspace" /></a>
&nbsp<a href="http://bioscope.ch" target="_blank"><img src="{{ site.baseurl }}/images/partners/bioscope.png" height="40" alt="" class="imgspace" /></a>
&nbsp<a href="http://www8.hp.com/ch/fr/home.html" target="_blank"><img src="{{ site.baseurl }}/images/partners/hp.png" height="40" alt="" class="imgspace" /></a>
&nbsp<a href="https://www.hpe.com/ch/fr/home.html" target="_blank"><img src="{{ site.baseurl }}/images/partners/hpe.jpg" height="50" alt="" class="imgspace" /></a>
&nbsp<a href="https://https://socialup.ch/" target="_blank"><img src="{{ site.baseurl }}/images/hackathons/SocialUp.jpg" height="45" alt="" class="imgspace" /></a>
&nbsp<a href="https://https://hospicegeneral.ch/" target="_blank"><img src="{{ site.baseurl }}/images/partners/hospicegeneral.png" height="45" alt="" class="imgspace" /></a>
-->
