<footer class="site-footer">

  <div class="wrapper">

    <div class="myrow">
        <h1>{{site.t[page.lang].main_partners}}</h1>
        <div class="col-12 mylogos">{% include partners/main_partners.html %}</div>
    </div>

    <div class="myrow"><br><br>
        <h1> {{site.t[page.lang].acceleration_partners}} </h1>
        <div class="col-12 mylogos">{% include partners/acceleration_partners.html %}</div>
    </div>

    <div class="myrow"><br><br>
        <h1> {{site.t[page.lang].academic_partners}} </h1>
        <div class="col-12 mylogos">{% include partners/academic_partners.html %}</div>
    </div>


  </div>

</footer>
