<a href="https://twitter.com/{{ site.twitter_username }}" target= "_blank"><span class="icon icon--twitter">{% include social-icons/icon-twitter.svg %}</span></a>
<a href="https://github.com/{{ site.github_username }}" target= "_blank"><span class="icon icon--github">{% include social-icons/icon-github.svg %}</span></a>
<a href="https://www.facebook.com/{{ site.facebook_username }}" target= "_blank"><span class="icon icon--facebook">{% include social-icons/icon-facebook.svg %}</span></a>
<a href="https://www.linkedin.com/company/{{ site.linkedin_username }}" target= "_blank"><span class="icon icon--linkedin">{% include social-icons/icon-linkedin.svg %}</span></a>
<a href="https://www.youtube.com/channel/UCRUv8TPfPq_knZRw1r1ucPQ" target= "_blank"><span class="icon icon--linkedin">{% include social-icons/icon-youtube.svg %}</span></a>



<!--
{% for icon in social-icons %}
  <a class="social-icon--link {{ icon.class }}" href="{{ icon.url }}">
    {% include {{ icon.class | prepend: 'social-icons/' | append: '.svg' }} %}
    <span class="social-icon--title visuallyHidden">{{ icon.title }}</span>
  </a>
{% endfor %}
-->
