---
layout: default
---

<div class="home">

<!--
<br>
<h2>News</h2>
-->

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.lang == page.lang %}
        <br>
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>


          <h1>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
          {% include share-bar-excerpt.html %}
          {{ post.excerpt }}

        </li>
        {% endif %}
    {% endfor %}
  </ul>

</div>
