---
layout: default
---
<article class="post">

  <header class="post-header">
    <!-- <h1 class="post-title">{{ page.title | escape }}</h1> -->
  </header>

  <div class="post-content">
    <ul>
    {% for event in site.data.events2018 %}
      {% if event.publish == "TRUE" %}

          <a href="{{event.url_moreinfo}}" target="_blank"><img src="{{ site.baseurl }}/images/events/logos/{{event.url_logo}}" height="80" alt="" class="imgspace" /></a>
          <h3>{{event.event_title}}</h3>
          <p><strong>Organiser(s) :</strong> {{event.institution}}<br><p>
          <p><strong>Language(s) :</strong> {{event.language}}<br><p>
          <p><strong>Description : </strong> {{event.event_description}}</p>
          <p><strong>Challenges : </strong> {{event.event_challenges}}</p>
          <p><strong>Starts : </strong> {{event.when_start}}&nbsp&nbsp&nbsp&nbsp<strong>Ends : </strong> {{event.when_end}}</p>
          <strong>Location : </strong> {{event.location_address}}<br><br>



          <p><a href="{{event.url_moreinfo}}" target="_blank">more information</a></p>
          <p><a href="{{event.url_registration}}" target="_blank">register</a></p>

          <a href="{{event.url_moreinfo}}" target="_blank"><img src="{{ site.baseurl }}/images/events/flyers/{{event.url_flyer}}" width="200" alt="" class="imgspace" /></a>

          <br><br><br>



      {% endif %}
    {% endfor %}
</ul>
  </div>

</article>
